Para ter acesso às chaves e tokens abaixo é preciso solicitar uma conta de desenvolvedor ao Twitter. Leia mais em:
https://medium.com/@divyeshardeshana/create-twitter-developer-account-app-4ac55e945bf4

CONSUMER_KEY=teste
CONSUMER_SECRET=teste
ACCESS_TOKEN=teste
ACCESS_TOKEN_SECRET=teste
